/* navbar */
/* desktop mode */
/* 桌面模式 */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 3px 10px 0px #aaa; /* 陰影 */
  width: 100%; /* 寬度 */
  background: #fff; /* 背景顏色 */
  color: #000080; /* 字體顏色 */
  opacity: 0.85; /* 透明度 */
  height: 80px; /* 高度 */
  z-index: 12; /* 疊層 */
}

.navbar-container {
  display: flex; /* 使內容物並排 */
  justify-content: space-between; /* 使內容物靠左靠右 */ /* 使內容物靠左靠右 */
  height: 70px; /* 高度 */
  align-items: center; /* 使內容物垂直置中 */
}

.menu-items {
  order: 2; /* 使內容物靠右 */
  display: flex; /* 使內容物並排 */
}

.menu-items li {
  list-style: none; /* 去除項目符號 */
  margin-left: 40px; /* 項目間距 */
  margin-top: 10px; /* 項目間距 */
  font-size: 1.2rem; /* 字體大小 */
}

.menu-items a {
  text-decoration: none; /* 去除底線 */
  color: #444; /* 字體顏色 */
  font-weight: 500; /* 字體粗細 */
  font-size: 24px;
  transition: color 0.3s ease-in-out; /* 顏色變化動畫 */
}

.menu-items a:hover {
  color: orange; /* 字體顏色 */
  transition: color 0.1s ease-in-out; /* 顏色變化動畫 */
}

.navbar {
  opacity: 0.95; /* 透明度 */
}

.navbar-container input[type="checkbox"],
.navbar-container .hamburger-lines {
  display: block; /* 顯示 */
}

.navbar-container {
  display: block; /* 使內容物並排 */
  position: relative; /* 使內容物相對定位 */ 
  height: 64px; /* 高度 */
}

.navbar-container input[type="checkbox"] {
  position: absolute; /* 使內容物相對定位 */
  display: block; /* 顯示 */
  height: 32px; /* 高度 */
  width: 30px; /* 寬度 */
  top: 20px;  /* 項目間距 */
  left: 20px;  /* 項目間距 */
  z-index: 5; /* 疊層 */
  opacity: 0; /* 透明度 */
}

.navbar-container .hamburger-lines {
  display: block; /* 顯示 */
  height: 23px; /* 高度 */
  width: 35px; /* 寬度 */
  position: absolute; /* 使內容物相對定位 */
  top: 17px; /* 項目間距 */
  left: 20px; /* 項目間距 */
  z-index: 2; /* 疊層 */
  display: flex; /* 使內容物並排 */
  flex-direction: column; /* 使內容物垂直排列 */
  justify-content: space-between; /* 使內容物靠左靠右 */
}

.navbar-container .hamburger-lines .line {
  display: block; /* 顯示 */
  height: 4px; /* 高度 */
  width: 100%; /* 寬度 */
  border-radius: 10px; /* 圓角 */
  background: #333; /* 背景顏色 */
}

.navbar-container .hamburger-lines .line1 {
  transform-origin: 0% 0%; /* 使旋轉中心在左上角 */
  transition: transform 0.4s ease-in-out; /* 旋轉動畫 */
}

.navbar-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out; /* 旋轉動畫 */
}

.navbar-container .hamburger-lines .line3 {
  transform-origin: 0% 100%; /* 使旋轉中心在左下角 */
  transition: transform 0.4s ease-in-out; /* 旋轉動畫 */
}

.navbar .menu-items {
  padding-top: 100px; /* 項目間距 */
  background: #fff; /* 背景顏色 */
  height: 100vh; /* 高度 */
  max-width: 300px; /* 寬度 */
  transform: translate(-300%); /* 使內容物向左移動 */
  display: flex; /* 使內容物並排 */
  flex-direction: column; /* 使內容物垂直排列 */
  margin-left: -40px; /* 項目間距 */
  padding-left: 20px; /* 項目間距 */
  transition: transform 0.5s ease-in-out; /* 位移動畫 */
  box-shadow: 3px 0px 10px 0px #aaa; /* 陰影 */
}

.navbar .menu-items li {
  margin-bottom: 10px; /* 項目間距 */
  margin-right: 60px; /* 項目間距 */ 
  font-size: 24px; /* 字體大小 */
  font-weight: 500; /* 字體粗細 */
}

.logo {
  position: absolute; /* 使內容物相對定位 */ 
  text-align: center; /* 使內容物置中 */
  top: 7px; /* 項目間距 */
  left: 70px; /* 項目間距 */
  right: 10px; /* 項目間距 */
  font-size: 42px; /* 字體大小 */
  font-weight: bold; /* 字體粗細 */
}

.navbar-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0); /* 使內容物向右移動 */
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(35deg); /* 旋轉 */
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);     /* 使內容物縮放 */
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-35deg); /* 旋轉 */
}
/* ......../ media query /.......... */

@media (min-width: 770px) and (max-width: 1200px) {

    .navbar-container {
        display: flex; /* 使內容物並排 */
        justify-content: space-between; /* 使內容物靠左靠右 */ /* 使內容物靠左靠右 */
        height: 70px; /* 高度 */
        align-items: center; /* 使內容物垂直置中 */
    }
    
    .menu-items {
        order: 2; /* 使內容物靠右 */
        display: flex; /* 使內容物並排 */
        margin-right: 25px; /* 項目間距 */
    }

    .menu-items a{
        font-size: 20px; /* 字體大小 */
        font-weight: 500; /* 字體粗細 */
    }

    .navbar {
      opacity: 0.95; /* 透明度 */
    }
  
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
      display: block; /* 顯示 */
    }
  
    .navbar-container {
      display: block; /* 使內容物並排 */
      position: relative; /* 使內容物相對定位 */ 
      height: 64px; /* 高度 */
    }
  
    .navbar-container input[type="checkbox"] {
      position: absolute; /* 使內容物相對定位 */
      display: block; /* 顯示 */
      height: 32px; /* 高度 */
      width: 30px; /* 寬度 */
      top: 20px;  /* 項目間距 */
      left: 20px;  /* 項目間距 */
      z-index: 5; /* 疊層 */
      opacity: 0; /* 透明度 */
    }
  
    .navbar-container .hamburger-lines {
      display: block; /* 顯示 */
      height: 23px; /* 高度 */
      width: 35px; /* 寬度 */
      position: absolute; /* 使內容物相對定位 */
      top: 17px; /* 項目間距 */
      left: 20px; /* 項目間距 */
      z-index: 2; /* 疊層 */
      display: flex; /* 使內容物並排 */
      flex-direction: column; /* 使內容物垂直排列 */
      justify-content: space-between; /* 使內容物靠左靠右 */
    }
  
    .navbar-container .hamburger-lines .line {
      display: block; /* 顯示 */
      height: 4px; /* 高度 */
      width: 100%; /* 寬度 */
      border-radius: 10px; /* 圓角 */
      background: #333; /* 背景顏色 */
    }
  
    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%; /* 使旋轉中心在左上角 */
      transition: transform 0.4s ease-in-out; /* 旋轉動畫 */
    }
  
    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out; /* 旋轉動畫 */
    }
  
    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%; /* 使旋轉中心在左下角 */
      transition: transform 0.4s ease-in-out; /* 旋轉動畫 */
    }
  
    .navbar .menu-items {
      padding-top: 100px; /* 項目間距 */
      background: #fff; /* 背景顏色 */
      height: 100vh; /* 高度 */
      max-width: 300px; /* 寬度 */
      transform: translate(-200%); /* 使內容物向左移動 */
      display: flex; /* 使內容物並排 */
      flex-direction: column; /* 使內容物垂直排列 */
      margin-left: -40px; /* 項目間距 */
      padding-left: 20px; /* 項目間距 */
      transition: transform 0.5s ease-in-out; /* 位移動畫 */
      box-shadow: 3px 0px 10px 0px #aaa; /* 陰影 */
    }
  
    .navbar .menu-items li {
      margin-bottom: 10px; /* 項目間距 */
      margin-right: 60px; /* 項目間距 */ 
      font-size: 24px; /* 字體大小 */
      font-weight: 500; /* 字體粗細 */
    }
  
    .logo {
      position: absolute; /* 使內容物相對定位 */ 
      text-align: center; /* 使內容物置中 */
      top: 7px; /* 項目間距 */
      left: 70px; /* 項目間距 */
      right: 10px; /* 項目間距 */
      font-size: 32px; /* 字體大小 */
      font-weight: bold; /* 字體粗細 */
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0); /* 使內容物向右移動 */
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(35deg); /* 旋轉 */
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);     /* 使內容物縮放 */
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-35deg); /* 旋轉 */
    }

}

@media (max-width: 770px) {
    .navbar {
      opacity: 0.95; /* 透明度 */
    }
  
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
      display: block; /* 顯示 */
    }
  
    .navbar-container {
      display: block; /* 使內容物並排 */
      position: relative; /* 使內容物相對定位 */ 
      height: 64px; /* 高度 */
    }
  
    .navbar-container input[type="checkbox"] {
      position: absolute; /* 使內容物相對定位 */
      display: block; /* 顯示 */
      height: 32px; /* 高度 */
      width: 30px; /* 寬度 */
      top: 20px;  /* 項目間距 */
      left: 20px;  /* 項目間距 */
      z-index: 5; /* 疊層 */
      opacity: 0; /* 透明度 */
    }
  
    .navbar-container .hamburger-lines {
      display: block; /* 顯示 */
      height: 23px; /* 高度 */
      width: 35px; /* 寬度 */
      position: absolute; /* 使內容物相對定位 */
      top: 17px; /* 項目間距 */
      left: 20px; /* 項目間距 */
      z-index: 2; /* 疊層 */
      display: flex; /* 使內容物並排 */
      flex-direction: column; /* 使內容物垂直排列 */
      justify-content: space-between; /* 使內容物靠左靠右 */
    }
  
    .navbar-container .hamburger-lines .line {
      display: block; /* 顯示 */
      height: 4px; /* 高度 */
      width: 100%; /* 寬度 */
      border-radius: 10px; /* 圓角 */
      background: #333; /* 背景顏色 */
    }
  
    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%; /* 使旋轉中心在左上角 */
      transition: transform 0.4s ease-in-out; /* 旋轉動畫 */
    }
  
    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out; /* 旋轉動畫 */
    }
  
    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%; /* 使旋轉中心在左下角 */
      transition: transform 0.4s ease-in-out; /* 旋轉動畫 */
    }
  
    .navbar .menu-items {
      padding-top: 100px; /* 項目間距 */
      background: #fff; /* 背景顏色 */
      height: 100vh; /* 高度 */
      max-width: 300px; /* 寬度 */
      transform: translate(-200%); /* 使內容物向左移動 */
      display: flex; /* 使內容物並排 */
      flex-direction: column; /* 使內容物垂直排列 */
      margin-left: -40px; /* 項目間距 */
      padding-left: 20px; /* 項目間距 */
      transition: transform 0.5s ease-in-out; /* 位移動畫 */
      box-shadow: 3px 0px 10px 0px #aaa; /* 陰影 */
    }
  
    .navbar .menu-items li {
      margin-bottom: 10px; /* 項目間距 */
      margin-right: 60px; /* 項目間距 */ 
      font-size: 24px; /* 字體大小 */
      font-weight: 500; /* 字體粗細 */
    }
  
    .logo {
      position: absolute; /* 使內容物相對定位 */ 
      text-align: center; /* 使內容物置中 */
      top: 20%; /* 項目間距 */
      font-size: 24px; /* 字體大小 */
      font-weight: bold; /* 字體粗細 */
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0); /* 使內容物向右移動 */
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(35deg); /* 旋轉 */
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);     /* 使內容物縮放 */
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-35deg); /* 旋轉 */
    }
    }
    
@media (max-width: 511px){
  .logo{
    top: 10%; /* 項目間距 */
  }
}
    
.screen img{
  width: 70px; /* 寬度 */
  height: 70px; /* 高度 */
  padding: 10px; /* 項目間距 */
}

.screen p{
  font-size: 28px; /* 字體大小 */
  font-weight: bold; /* 字體粗細 */
  padding: 10px; /* 項目間距 */
  margin: 0px; /* 項目間距 */
}

.button{
  font-size: 28px; /* 字體大小 */
  padding: 7px 17px 7px 17px; /* 項目間距 */
  margin: 10px; /* 項目間距 */
  background-color: #f4a460; /* 背景顏色 */
  color: #fff; /* 字體顏色 */
  border: 0px; /* 邊框 */
  border-radius: 30px; /* 圓角 */
  margin-left: 20px; /* 項目間距 */
}

.screen{
  height: 400px; /* 高度 */
  width: auto; /* 寬度 */
  display: grid; /* 使內容物並排 */
  flex-direction: column; /* 使內容物垂直排列 */
  margin: 30px;
  padding: 10px;
  border: 1px solid #b1d7b4;
  border-radius: 30px;
  background-color: #fff;
}

.control img{
  width: 70px; /* 寬度 */
  height: auto; /* 高度 */
  padding: 10px; /* 項目間距 */
}

.button2{
  font-size: 20px; /* 字體大小 */
  padding: 7px 17px 7px 17px; /* 項目間距 */
  margin: 0px; /* 項目間距 */
  background-color: #f4a460; /* 背景顏色 */
  color: #fff; /* 字體顏色 */
  border: 0px; /* 邊框 */
  border-radius: 30px; /* 圓角 */
  margin-left: 25%; /* 項目間距 */
  margin-right: 25%; /* 項目間距 */
}

.button:hover{
  background-color: #ff8033; /* 背景顏色 */
  color: #000; /* 字體顏色 */
  border: 0px; /* 邊框 */
  border-radius: 30px; /* 圓角 */
}

.button2:hover{
  background-color: #ff8033; /* 背景顏色 */
  color: #000; /* 字體顏色 */
  border: 0px; /* 邊框 */
  border-radius: 30px; /* 圓角 */
}

.col{
  height: auto; /* 高度 */
  width: 230px; /* 寬度 */
  margin: 10px;
  padding: 10px;
  border: 1px solid #b1d7b4;
  border-radius: 30px;
  background-color: #fff;
  display: grid; /* 使內容物並排 */
  flex-direction: column; /* 使內容物垂直排列 */

}

.control p{
  font-size: 20px; /* 字體大小 */
  font-weight: bold; /* 字體粗細 */
  padding: 0px; /* 項目間距 */
  margin: 0px; /* 項目間距 */
}

.data{
  display: flex; /* 使內容物並排 */
  justify-content: center; /* 使內容物置中 */
}

.control{
  margin: 10px;
  padding: 30px;
}
h2{
  font-size: 40px; /* 字體大小 */
  font-weight: bold; /* 字體粗細 */
  display: flex; /* 使內容物並排 */
  justify-content: center; /* 使內容物置中 */ 
  padding: 0px; /* 項目間距 */
  margin: 50px 0px 0px 0px; /* 項目間距 */
}

@media screen and (max-width: 830px) {
  
  .screen img{
    width: 60px; /* 寬度 */
    height: 60px; /* 高度 */
    padding: 10px; /* 項目間距 */
  }

  .screen p{
    font-size: 24px; /* 字體大小 */
    font-weight: bold; /* 字體粗細 */
    padding: 10px; /* 項目間距 */
    margin: 0px; /* 項目間距 */
  }

  .button{
    font-size: 24px; /* 字體大小 */
    padding: 6px 13px 6px 13px; /* 項目間距 */
  }
  
  .control img{
    width: 60px; /* 寬度 */
    height: auto; /* 高度 */
    padding: 10px; /* 項目間距 */
  }
  
  .button2{
    font-size: 18px; /* 字體大小 */
  }

  .col{
    height: auto; /* 高度 */
    width: 200px; /* 寬度 */
    margin: 10px;
    padding: 10px;
    border: 1px solid #b1d7b4;
    border-radius: 30px;
    background-color: #fff;
  }
  
  .control p{
    font-size: 18px; /* 字體大小 */
  }
  
  .control{
    display: flex; /* 使內容物並排 */
    justify-content: center; /* 使內容物置中 */
    margin: 10px;
    padding: 30px;
  }
  h2{
    font-size: 36px; /* 字體大小 */
    font-weight: bold; /* 字體粗細 */
    display: flex; /* 使內容物並排 */
    justify-content: center; /* 使內容物置中 */ 
    padding: 0px; /* 項目間距 */
    margin: 50px 0px 0px 0px; /* 項目間距 */
  }
}

@media screen and (max-width: 600px) {
  
  .screen img{
    width: 55px; /* 寬度 */
    height: 55px; /* 高度 */
    padding: 10px; /* 項目間距 */
  }

  .screen p{
    font-size: 20px; /* 字體大小 */
    font-weight: bold; /* 字體粗細 */
    padding: 10px; /* 項目間距 */
    margin: 0px; /* 項目間距 */
  }

  .button{
    font-size: 20px; /* 字體大小 */
    padding: 5px 15px 5px 15px; /* 項目間距 */
  }
  
  .control img{
    width: 55px; /* 寬度 */
    height: auto; /* 高度 */
    padding: 10px; /* 項目間距 */
  }
  
  .button2{
    font-size: 16px; /* 字體大小 */
  }

  .col{
    height: auto; /* 高度 */
    width: 200px; /* 寬度 */
    margin: 10px;
    padding: 10px;
    border: 1px solid #b1d7b4;
    border-radius: 30px;
    background-color: #fff;
  }
  
  .control p{
    font-size: 16px; /* 字體大小 */
  }
  
  .control{
    display: flex; /* 使內容物並排 */
    justify-content: center; /* 使內容物置中 */
    margin: 10px;
    padding: 30px;
  }
  h2{
    font-size: 32px; /* 字體大小 */
    font-weight: bold; /* 字體粗細 */
    display: flex; /* 使內容物並排 */
    justify-content: center; /* 使內容物置中 */ 
    padding: 0px; /* 項目間距 */
    margin: 50px 0px 0px 0px; /* 項目間距 */
  }
  .areabtn{
    font-size: 30px; /* 字體大小 */
  }
  .areaimg{
    height: 40px; /* 高度 */
  }
}

@media screen and (max-width: 450px){

   .screen img{
    width: 55px; /* 寬度 */
    height: 55px; /* 高度 */
    padding: 10px; /* 項目間距 */
  }

  .screen p{
    font-size: 16px; /* 字體大小 */
    font-weight: bold; /* 字體粗細 */
    padding: 10px; /* 項目間距 */
    margin: 0px; /* 項目間距 */
  }

  .screen{
    height: 250px; /* 高度 */
    width: auto; /* 寬度 */
    display: grid; /* 使內容物並排 */
    flex-direction: column; /* 使內容物垂直排列 */
    margin: 30px;
    padding: 10px;
    border: 1px solid #b1d7b4;
    border-radius: 30px;
    background-color: #fff;
  }

  .button{
    font-size: 16px; /* 字體大小 */
  }
  
  .control img{
    width: 55px; /* 寬度 */
    height: auto; /* 高度 */
    padding: 10px; /* 項目間距 */
  }
  
  .button2{
    font-size: 16px; /* 字體大小 */
  }

  .col{
    height: auto; /* 高度 */
    width: 180px; /* 寬度 */
    margin: 10px;
    padding: 10px;
    border: 1px solid #b1d7b4;
    border-radius: 30px;
    background-color: #fff;
  }
  
  .control p{
    font-size: 16px; /* 字體大小 */
  }
  
  .control{
    display: flex; /* 使內容物並排 */
    justify-content: center; /* 使內容物置中 */
    margin: 10px;
    padding: 30px;
  }
  h2{
    font-size: 32px; /* 字體大小 */
  }
  .areabtn{
    font-size: 30px; /* 字體大小 */
  }
  .areaimg{
    height: 40px; /* 高度 */
  }
}

/* area按鈕 */
.area{
  display: flex; /* 使內容物並排 */
  justify-content: center; /* 使內容物置中 */
  text-align: center; /* 使內容物置中 */
  margin: 10px;
  padding: 30px;
  font-size: 50px;
  margin-top: 100px;
}
.areabtn{
  background-color: #b1d7b4;
  border-radius: 25px;
  font-size: 50px; 
  padding: 10px 20px 10px 20px;
  border: 0px;
  box-shadow: #000 0px 0px 5px 0px;
}
.areabtn:hover{
  background-color: #4e9f3d;
  color: white;
}
.areaimg{
  height: 60px;
  width: auto;
}